<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.adm.mapper.AdmPsbsServicetpMapper">
    
    <resultMap type="AdmPsbsServicetp" id="AdmPsbsServicetpResult">
        <result property="stid"    column="stid"    />
        <result property="stname"    column="stname"    />
        <result property="stmoney"    column="stmoney"    />
        <result property="stmtp"    column="stmtp"    />
        <result property="stps"    column="stps"    />
    </resultMap>

    <sql id="selectAdmPsbsServicetpVo">
        select stid, stname, stmoney, stmtp, stps,sttime from psbs_servicetp
    </sql>

    <select id="selectAdmPsbsServicetpList" parameterType="AdmPsbsServicetp" resultMap="AdmPsbsServicetpResult">
        <include refid="selectAdmPsbsServicetpVo"/>
        <where>  
            <if test="stname != null  and stname != ''"> and stname like concat('%', #{stname}, '%')</if>
            <if test="params.beginStmoney != null and params.beginStmoney != '' and params.endStmoney != null and params.endStmoney != ''"> and stmoney between #{params.beginStmoney} and #{params.endStmoney}</if>
            <if test="stmtp != null "> and stmtp = #{stmtp}</if>
            <if test="stps != null  and stps != ''"> and stps like concat('%', #{stps}, '%')</if>
        </where>
    </select>
    
    <select id="selectAdmPsbsServicetpByStid" parameterType="Long" resultMap="AdmPsbsServicetpResult">
        <include refid="selectAdmPsbsServicetpVo"/>
        where stid = #{stid}
    </select>
        
    <insert id="insertAdmPsbsServicetp" parameterType="AdmPsbsServicetp" useGeneratedKeys="true" keyProperty="stid">
        insert into psbs_servicetp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stname != null and stname != ''">stname,</if>
            <if test="stmoney != null">stmoney,</if>
            <if test="stmtp != null">stmtp,</if>
            <if test="stps != null">stps,</if>
            <if test="sttime != null">sttime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stname != null and stname != ''">#{stname},</if>
            <if test="stmoney != null">#{stmoney},</if>
            <if test="stmtp != null">#{stmtp},</if>
            <if test="stps != null">#{stps},</if>
            <if test="sttime != null">#{sttime},</if>
         </trim>
    </insert>

    <update id="updateAdmPsbsServicetp" parameterType="AdmPsbsServicetp">
        update psbs_servicetp
        <trim prefix="SET" suffixOverrides=",">
            <if test="stname != null and stname != ''">stname = #{stname},</if>
            <if test="stmoney != null">stmoney = #{stmoney},</if>
            <if test="stmtp != null">stmtp = #{stmtp},</if>
            <if test="stps != null">stps = #{stps},</if>
            <if test="sttime != null">sttime = #{sttime},</if>
        </trim>
        where stid = #{stid}
    </update>

    <delete id="deleteAdmPsbsServicetpByStid" parameterType="Long">
        delete from psbs_servicetp where stid = #{stid}
    </delete>

    <delete id="deleteAdmPsbsServicetpByStids" parameterType="String">
        delete from psbs_servicetp where stid in 
        <foreach item="stid" collection="array" open="(" separator="," close=")">
            #{stid}
        </foreach>
    </delete>

    <select id="selectAllAdmServicetp" parameterType="AdmPsbsServicetp" resultMap="AdmPsbsServicetpResult">
        select * from psbs_servicetp
    </select>

    <select id="selectSerivetp" parameterType="AdmPsbsServicetp" resultMap="AdmPsbsServicetpResult">
        SELECT psbs_servicetp.* FROM psbs_clkser
        LEFT JOIN psbs_servicetp ON psbs_servicetp.stid=psbs_clkser.stid
        LEFT JOIN psbs_clerk ON psbs_clkser.clid=psbs_clerk.clid
        LEFT JOIN psbs_petser ON psbs_petser.stid=psbs_servicetp.stid
        LEFT JOIN psbs_pet ON psbs_petser.ptid=psbs_pet.ptid
        <where>
            <if test="mid != null "> and psbs_clerk.mid = #{mid}</if>
            <if test="pid != null "> and psbs_pet.pid = #{pid}</if>
        </where>
        GROUP BY stid
    </select>
</mapper>