<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.adm.mapper.AdmPsbsProblemMapper">
    
    <resultMap type="AdmPsbsProblem" id="AdmPsbsProblemResult">
        <result property="proid"    column="proid"    />
        <result property="protext"    column="protext"    />
        <result property="prore"    column="prore"    />
        <result property="proutime"    column="proutime"    />
        <result property="prortime"    column="prortime"    />
        <result property="uid"    column="uid"    />
    </resultMap>

    <sql id="selectAdmPsbsProblemVo">
        select proid, protext, prore, proutime, prortime, uid from psbs_problem
    </sql>

    <select id="selectAdmPsbsProblemList" parameterType="AdmPsbsProblem" resultMap="AdmPsbsProblemResult">
        SELECT psbs_problem.*,sys_user.user_name as uname FROM psbs_problem
        LEFT JOIN sys_user ON psbs_problem.uid=sys_user.user_id
        <where>  
            <if test="protext != null  and protext != ''"> and protext = #{protext}</if>
            <if test="prore != null  and prore != ''"> and prore = #{prore}</if>
            <if test="proutime != null "> and proutime &gt;= #{proutime}</if>
            <if test="prortime != null "> and prortime &lt;= #{prortime}</if>
            <if test="uid != null "> and uid = #{uid}</if>
        </where>
    </select>
    
    <select id="selectAdmPsbsProblemByProid" parameterType="Long" resultMap="AdmPsbsProblemResult">
        <include refid="selectAdmPsbsProblemVo"/>
        where proid = #{proid}
    </select>
        
    <insert id="insertAdmPsbsProblem" parameterType="AdmPsbsProblem" useGeneratedKeys="true" keyProperty="proid">
        insert into psbs_problem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="protext != null">protext,</if>
            <if test="prore != null">prore,</if>
            <if test="proutime != null">proutime,</if>
            <if test="prortime != null">prortime,</if>
            <if test="uid != null">uid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="protext != null">#{protext},</if>
            <if test="prore != null">#{prore},</if>
            <if test="proutime != null">#{proutime},</if>
            <if test="prortime != null">#{prortime},</if>
            <if test="uid != null">#{uid},</if>
         </trim>
    </insert>

    <update id="updateAdmPsbsProblem" parameterType="AdmPsbsProblem">
        update psbs_problem
        <trim prefix="SET" suffixOverrides=",">
            <if test="protext != null">protext = #{protext},</if>
            <if test="prore != null">prore = #{prore},</if>
            <if test="proutime != null">proutime = #{proutime},</if>
            <if test="prortime != null">prortime = #{prortime},</if>
            <if test="uid != null">uid = #{uid},</if>
        </trim>
        where proid = #{proid}
    </update>

    <delete id="deleteAdmPsbsProblemByProid" parameterType="Long">
        delete from psbs_problem where proid = #{proid}
    </delete>

    <delete id="deleteAdmPsbsProblemByProids" parameterType="String">
        delete from psbs_problem where proid in 
        <foreach item="proid" collection="array" open="(" separator="," close=")">
            #{proid}
        </foreach>
    </delete>
</mapper>