<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.cum.mapper.CumPsbsServiceMapper">
    
    <resultMap type="CumPsbsService" id="CumPsbsServiceResult">
        <result property="serid"    column="serid"    />
        <result property="stid"    column="stid"    />
        <result property="clid"    column="clid"    />
        <result property="mid"    column="mid"    />
        <result property="pid"    column="pid"    />
        <result property="cuid"    column="cuid"    />
        <result property="serstime"    column="serstime"    />
        <result property="seretime"    column="seretime"    />
        <result property="serscore"    column="serscore"    />
        <result property="serassess"    column="serassess"    />
        <result property="serstate"    column="serstate"    />
        <result property="sermoney"    column="sermoney"    />
    </resultMap>

    <sql id="selectCumPsbsServiceVo">
        SELECT psbs_service.*,
               psbs_pet.pname AS pname,
               psbs_servicetp.stname AS stname,
               psbs_manager.msname AS msname,
               sys_user.nick_name AS clname
        FROM psbs_service
        LEFT JOIN psbs_pet ON psbs_service.pid=psbs_pet.pid
        LEFT JOIN psbs_servicetp ON psbs_service.stid=psbs_servicetp.stid
        LEFT JOIN psbs_manager ON psbs_manager.mid=psbs_service.mid
        LEFT JOIN psbs_clerk ON psbs_clerk.clid=psbs_service.clid
        LEFT JOIN sys_user ON sys_user.user_id=psbs_clerk.uid
    </sql>

    <select id="selectCumPsbsServiceList" parameterType="CumPsbsService" resultMap="CumPsbsServiceResult">
        <include refid="selectCumPsbsServiceVo"/>
        <where>  
            <if test="stid != null "> and stid = #{stid}</if>
            <if test="clid != null "> and clid = #{clid}</if>
            <if test="mid != null "> and mid = #{mid}</if>
            <if test="pid != null "> and pid = #{pid}</if>
            <if test="cuid != null "> and psbs_service.cuid = #{cuid}</if>
            <if test="serstime != null "> and date(serstime)=#{serstime}</if>
            <if test="seretime != null "> and date(seretime)=#{seretime}</if>
            <if test="serscore != null "> and serscore = #{serscore}</if>
            <if test="serassess != null  and serassess != ''"> and serassess = #{serassess}</if>
            <if test="serstate != null "> and serstate = #{serstate}</if>
            <if test="sermoney != null "> and sermoney = #{sermoney}</if>
            <if test="stname != null "> and psbs_servicetp.stname like concat('%', #{stname}, '%')</if>
            <if test="clname != null "> and sys_user.nick_name like concat('%', #{clname}, '%')</if>
            <if test="msname != null "> and psbs_manager.msname like concat('%', #{msname}, '%')</if>
            <if test="pname != null "> and psbs_pet.pname like concat('%', #{pname}, '%')</if>
        </where>
    </select>
    
    <select id="selectCumPsbsServiceBySerid" parameterType="Long" resultMap="CumPsbsServiceResult">
        <include refid="selectCumPsbsServiceVo"/>
        where serid = #{serid}
    </select>
        
    <insert id="insertCumPsbsService" parameterType="CumPsbsService" useGeneratedKeys="true" keyProperty="serid">
        insert into psbs_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stid != null">stid,</if>
            <if test="clid != null">clid,</if>
            <if test="mid != null">mid,</if>
            <if test="pid != null">pid,</if>
            <if test="cuid != null">cuid,</if>
            <if test="serstime != null">serstime,</if>
            <if test="seretime != null">seretime,</if>
            <if test="serscore != null">serscore,</if>
            <if test="serassess != null">serassess,</if>
            <if test="serstate != null">serstate,</if>
            <if test="sermoney != null">sermoney,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stid != null">#{stid},</if>
            <if test="clid != null">#{clid},</if>
            <if test="mid != null">#{mid},</if>
            <if test="pid != null">#{pid},</if>
            <if test="cuid != null">#{cuid},</if>
            <if test="serstime != null">#{serstime},</if>
            <if test="seretime != null">#{seretime},</if>
            <if test="serscore != null">#{serscore},</if>
            <if test="serassess != null">#{serassess},</if>
            <if test="serstate != null">#{serstate},</if>
            <if test="sermoney != null">#{sermoney},</if>
         </trim>
    </insert>

    <update id="updateCumPsbsService" parameterType="CumPsbsService">
        update psbs_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="stid != null">stid = #{stid},</if>
            <if test="clid != null">clid = #{clid},</if>
            <if test="mid != null">mid = #{mid},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="serstime != null">serstime = #{serstime},</if>
            <if test="seretime != null">seretime = #{seretime},</if>
            <if test="serscore != null">serscore = #{serscore},</if>
            <if test="serassess != null">serassess = #{serassess},</if>
            <if test="serstate != null">serstate = #{serstate},</if>
            <if test="sermoney != null">sermoney = #{sermoney},</if>
        </trim>
        where serid = #{serid}
    </update>

    <delete id="deleteCumPsbsServiceBySerid" parameterType="Long">
        delete from psbs_service where serid = #{serid}
    </delete>

    <delete id="deleteCumPsbsServiceBySerids" parameterType="String">
        delete from psbs_service where serid in 
        <foreach item="serid" collection="array" open="(" separator="," close=")">
            #{serid}
        </foreach>
    </delete>
</mapper>