<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.man.mapper.ManPsbsClerkMapper">
    
    <resultMap type="ManPsbsClerk" id="ManPsbsClerkResult">
        <result property="clid"    column="clid"    />
        <result property="clname"    column="clname"    />
        <result property="clsex"    column="clsex"    />
        <result property="clnum"    column="clnum"    />
        <result property="mid"    column="mid"    />
        <result property="uid"    column="uid"    />
    </resultMap>

    <resultMap id="ManPsbsClerkManPsbsClkserResult" type="ManPsbsClerk" extends="ManPsbsClerkResult">
        <collection property="manPsbsClkserList" notNullColumn="sub_clser" javaType="java.util.List" resultMap="ManPsbsClkserResult" />
    </resultMap>

    <resultMap type="ManPsbsClkser" id="ManPsbsClkserResult">
        <result property="clser"    column="sub_clser"    />
        <result property="clid"    column="sub_clid"    />
        <result property="stid"    column="sub_stid"    />
    </resultMap>

    <sql id="selectManPsbsClerkVo">
        select clid, clname, clsex, clnum, mid, uid from psbs_clerk
    </sql>

    <select id="selectManPsbsClerkList" parameterType="ManPsbsClerk" resultMap="ManPsbsClerkResult">
        SELECT psbs_clerk.*,sys_user.user_name AS uname FROM psbs_clerk
        LEFT JOIN sys_user ON psbs_clerk.uid=sys_user.user_id
        <where>  
            <if test="clname != null  and clname != ''"> and clname like concat('%', #{clname}, '%')</if>
            <if test="clsex != null "> and clsex = #{clsex}</if>
            <if test="clnum != null  and clnum != ''"> and clnum = #{clnum}</if>
            <if test="mid != null "> and mid like concat('%', #{mid}, '%')</if>
            <if test="uid != null "> and uid like concat('%', #{uid}, '%')</if>
        </where>
    </select>
    
    <select id="selectManPsbsClerkByClid" parameterType="Long" resultMap="ManPsbsClerkManPsbsClkserResult">
        select a.clid, a.clname, a.clsex, a.clnum, a.mid, a.uid,
 b.clser as sub_clser, b.clid as sub_clid, b.stid as sub_stid
        from psbs_clerk a
        left join psbs_clkser b on b.clid = a.clid
        where a.clid = #{clid}
    </select>
        
    <insert id="insertManPsbsClerk" parameterType="ManPsbsClerk" useGeneratedKeys="true" keyProperty="clid">
        insert into psbs_clerk
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clname != null and clname != ''">clname,</if>
            <if test="clsex != null">clsex,</if>
            <if test="clnum != null">clnum,</if>
            <if test="mid != null">mid,</if>
            <if test="uid != null">uid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clname != null and clname != ''">#{clname},</if>
            <if test="clsex != null">#{clsex},</if>
            <if test="clnum != null">#{clnum},</if>
            <if test="mid != null">#{mid},</if>
            <if test="uid != null">#{uid},</if>
         </trim>
    </insert>

    <update id="updateManPsbsClerk" parameterType="ManPsbsClerk">
        update psbs_clerk
        <trim prefix="SET" suffixOverrides=",">
            <if test="clname != null and clname != ''">clname = #{clname},</if>
            <if test="clsex != null">clsex = #{clsex},</if>
            <if test="clnum != null">clnum = #{clnum},</if>
            <if test="mid != null">mid = #{mid},</if>
            <if test="uid != null">uid = #{uid},</if>
        </trim>
        where clid = #{clid}
    </update>

    <delete id="deleteManPsbsClerkByClid" parameterType="Long">
        delete from psbs_clerk where clid = #{clid}
    </delete>

    <delete id="deleteManPsbsClerkByClids" parameterType="String">
        delete from psbs_clerk where clid in 
        <foreach item="clid" collection="array" open="(" separator="," close=")">
            #{clid}
        </foreach>
    </delete>
    
    <delete id="deleteManPsbsClkserByClids" parameterType="String">
        delete from psbs_clkser where clid in 
        <foreach item="clid" collection="array" open="(" separator="," close=")">
            #{clid}
        </foreach>
    </delete>

    <delete id="deleteManPsbsClkserByClid" parameterType="Long">
        delete from psbs_clkser where clid = #{clid}
    </delete>

    <insert id="batchManPsbsClkser">
        insert into psbs_clkser( clser, clid, stid) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.clser}, #{item.clid}, #{item.stid})
        </foreach>
    </insert>
</mapper>