<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PsbsClerkMapper">
    
    <resultMap type="PsbsClerk" id="PsbsClerkResult">
        <result property="clid"    column="clid"    />
        <result property="clname"    column="clname"    />
        <result property="clsex"    column="clsex"    />
        <result property="clnum"    column="clnum"    />
        <result property="mid"    column="mid"    />
        <result property="uid"    column="uid"    />
    </resultMap>

    <sql id="selectPsbsClerkVo">
        select clid, clname, clsex, clnum, mid, uid from psbs_clerk
    </sql>

    <select id="selectPsbsClerkList" parameterType="PsbsClerk" resultMap="PsbsClerkResult">
        <include refid="selectPsbsClerkVo"/>
        <where>  
            <if test="clname != null  and clname != ''"> and clname like concat('%', #{clname}, '%')</if>
            <if test="clsex != null "> and clsex = #{clsex}</if>
            <if test="clnum != null  and clnum != ''"> and clnum = #{clnum}</if>
            <if test="mid != null "> and mid like concat('%', #{mid}, '%')</if>
            <if test="uid != null "> and uid like concat('%', #{uid}, '%')</if>
        </where>
    </select>
    
    <select id="selectPsbsClerkByClid" parameterType="Long" resultMap="PsbsClerkResult">
        <include refid="selectPsbsClerkVo"/>
        where clid = #{clid}
    </select>
        
    <insert id="insertPsbsClerk" parameterType="PsbsClerk" useGeneratedKeys="true" keyProperty="clid">
        insert into psbs_clerk
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clname != null and clname != ''">clname,</if>
            <if test="clsex != null">clsex,</if>
            <if test="clnum != null">clnum,</if>
            <if test="mid != null">mid,</if>
            <if test="uid != null">uid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clname != null and clname != ''">#{clname},</if>
            <if test="clsex != null">#{clsex},</if>
            <if test="clnum != null">#{clnum},</if>
            <if test="mid != null">#{mid},</if>
            <if test="uid != null">#{uid},</if>
         </trim>
    </insert>

    <update id="updatePsbsClerk" parameterType="PsbsClerk">
        update psbs_clerk
        <trim prefix="SET" suffixOverrides=",">
            <if test="clname != null and clname != ''">clname = #{clname},</if>
            <if test="clsex != null">clsex = #{clsex},</if>
            <if test="clnum != null">clnum = #{clnum},</if>
            <if test="mid != null">mid = #{mid},</if>
            <if test="uid != null">uid = #{uid},</if>
        </trim>
        where clid = #{clid}
    </update>

    <delete id="deletePsbsClerkByClid" parameterType="Long">
        delete from psbs_clerk where clid = #{clid}
    </delete>

    <delete id="deletePsbsClerkByClids" parameterType="String">
        delete from psbs_clerk where clid in 
        <foreach item="clid" collection="array" open="(" separator="," close=")">
            #{clid}
        </foreach>
    </delete>
</mapper>